* 
{   
    font-family: sans-serif;
}

.container
{
    padding: 15px;
    text-align: center;
}

.table 
{
    padding: 15px 15px 15px 15px;
    border: 1px solid black;
    width: 100%;
    justify-content: space-evenly;
}

tr
{
    position: relative;
}

th 
{
    font-size: 24px;
}